html
{
  scroll-behavior: smooth;
}



/*Carousel*/
.slider
{
  width: 100%;
  top: 0;
  height:100vh;
  
}
.carousel-inner .carousel-item
{
  height: 100vh;
  width: 120%;
}

.carousel-control.right
{
  background-image: none;
}
.carousel-control.left
{
  background-image: none;
}
.carouselimage
{
  width: 100%;
  filter: brightness(20%);

}
#myCarousel 
{
  margin-top: -115px;
}
#myCarousel .carousel-caption h2
{
  font-size: 48px;
  text-transform: uppercase;
   
  }

#myCarousel .carousel-caption p
{
  font-size: 20px;
   
  
}
#myCarousel .carousel-container
{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-family: "Montserrat", sans-serif;
  bottom: 150px;
  top: 150px;
  left: 150px;
  right:300px;
}

.btn-getstarted
{
  font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 32px;
    
    border-color: #fff;
    transition: 0.5s;
    margin: 10px;
    color: #fff;
    background:none;
    text-transform: uppercase;
}
.btn-getstarted:hover
{
  
  background-color: white;
}

/*Navigation Bar*/
.navbar {
  background:none;
  width:100%;
  z-index: 999;
  border-radius: 0;
  border:0;
  font-size: 20px;
    margin-top: 20px;


}

.navbar .navbar-brand {
  color: #f8fbfc;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #23a2c3;


}
.navbar .navbar-brand:hover
{
  transform: scale(1.2);
  transition: all 1s ease;
}
.navbar .navbar-text {
  color: #f8fbfc;

}
.navbar .navbar-text a {
  color: #23a2c3;

}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #23a2c3; 
}
.navbar .navbar-text a:hover
{
  font-weight:700;
  padding: 4px 0;
}
.navbar .navbar-nav .nav-link {
  color: #f8fbfc;
  border-radius: .25rem;
  margin: 0 0.25em;
  padding:  15px 10px 30px 20px;
   
    
   font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #23a2c3;
  
 transform: scale(1.1);
  transition: all 1s ease;
  

}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #23a2c3;
  background:none;
  
}
.navbar .navbar-toggle {
  border-color: #060606;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #060606;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: #f8fbfc;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #f8fbfc;
}
.navbar .navbar-link {
  color: #f8fbfc;
}
.navbar .navbar-link:hover {
  color: #23a2c3;
}


@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #f8fbfc;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #23a2c3;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #23a2c3;
    background-color: #060606;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #f8fbfc;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #23a2c3;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #23a2c3;
    background-color: #060606;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #f8fbfc;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #23a2c3;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #23a2c3;
    background-color: #060606;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #f8fbfc;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #23a2c3;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #23a2c3;
    background-color: #060606;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #f8fbfc;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #23a2c3;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #23a2c3;
  background-color: #060606;
}

.navscroll .navbar {
  background:black;
  width:100%;
  z-index: 999;
  border-radius: 0;
  border:0;
  font-size: 15px;
    margin-top: 0;


}

/*Services Section*/
.services-heading
{
  font-size: 50px;
  text-align: center;
  padding-top: 30px;
  font-family: "Montserrat", sans-serif; 
}
.services-heading:after {
    content: ""; 
    display: block; 
    margin: 0 auto;
    width: 10%; 
    padding-top: 13px; 
    border-bottom: 3px solid #23a2c3;
   }
 

#services 
{
  background: #F4F6F7 !important;
  background-attachment: fixed;
}
#services .row .col-md-4
{
  padding-top: 50px;
}
#services .row .col-md-4 p
{
  font-family: "Montserrat", sans-serif;
  padding-top: 30px;
  font-size: 20px;
}

#services .row .col-md-4 span
{
  
  font-size: 40px;
}

#services .row .col-md-4 h4
{
  font-size: 30px;
  font-family: "Montserrat", sans-serif; 
  padding-top: 30px;
}


.fa-stack
{
  color:#23A2C3;
}

 .fa-stack:hover 
 {
  transform:scale(1.1);
 }




/*About Section*/


#about .row p
{
  font-size: 30px;
   font-family: "Montserrat", sans-serif;
   padding-top: 30px; 
}

/*Contact*/
#contact
{
  background-image: url("images/contact.jpg");    
  min-height: 500px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
#contact .services-heading,
#contact h3
{
  color:#fff;
}

/* Footer */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: black !important;
}
#footer h5{

    border-bottom:  3px solid #23a2c3;
    padding-bottom: 15px;
    font-family: "Montserrat";
    margin-bottom: 20px;
    color:#ffffff;
    font-size: 30px;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer p{
  color:white;
  font-family:"Montserrat", sans-serif;
  font-size: 20px; 
}
#footer ul.social li{
  padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
  font-size:25px;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
}
#footer ul.social li:hover a i {
  font-size:30px;
  margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
  color:#ffffff;
}
#footer ul.social li a:hover{
  color:#eeeeee;
}
#footer ul.quick-links li{
  padding: 3px 0;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
}
#footer ul.quick-links li:hover{
  padding: 3px 0;
  margin-left:5px;
  font-weight:700;
}
#footer ul.quick-links li a i{
  margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
  #footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}
